<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
</head>
<body>
  <div class="addBrand-container" id="member-add-app">
    <div class="container">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        :rules="rules"
        :inline="false"
        label-width="180px"
        class="demo-ruleForm"
      >
        <el-form-item label="Account:" prop="username">
          <el-input v-model="ruleForm.username" placeholder="Please input account" maxlength="20"/>
        </el-form-item>
        <el-form-item
          label="Employee name:"
          prop="name"
        >
          <el-input
            v-model="ruleForm.name"
            placeholder="Please enter employee name"
            maxlength="50"
          />
        </el-form-item>

        <el-form-item
          label="Phone number:"
          prop="phone"
        >
          <el-input
            v-model="ruleForm.phone"
            placeholder="Please enter phone number"
            maxlength="20"
          />
        </el-form-item>
        <el-form-item
          label="Gender:"
          prop="sex"
        >
          <el-radio-group v-model="ruleForm.sex">
            <el-radio label="male"></el-radio>
            <el-radio label="female"></el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item
          label="ID number:"
          prop="idNumber"
        >
          <el-input
            v-model="ruleForm.idNumber"
            placeholder="Please enter identification number"
            maxlength="20"
          />
        </el-form-item>
        <div class="subBox address">
          <el-form-item>
            <el-button  @click="goBack()">
              Cancel
            </el-button>
            <el-button
              type="primary"
              @click="submitForm('ruleForm', false)"
            >
              Save
            </el-button>
            <el-button
              v-if="actionType == 'add'"
              type="primary"
              class="continue"
              @click="submitForm('ruleForm', true)"
            >
              Save and continue adding
            </el-button>
          </el-form-item>
        </div>
      </el-form>
    </div>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../api/member.js"></script>
    <script src="../../api/config.js"></script>
    <script src="../../js/validate.js"></script>
    <script src="../../js/index.js"></script>
  <!--  国际化-->
  <script src="//unpkg.com/vue@2"></script>
  <script src="//unpkg.com/element-ui"></script>
  <script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
  <script>
    ELEMENT.locale(ELEMENT.lang.en)

    new Vue({
        el: '#member-add-app',
        data() {
          return {
            id: '',
            actionType : '',
            ruleForm : {
                'name': '',
                'phone': '',
                'sex': 'male',
                'idNumber': '',
                username: ''
            }
          }
        },
        computed: {
          rules () {
            return {
              //账号
              username: [
                {
                  required: true, 'validator': checkUserName, trigger: 'blur'
                }
              ],
              //姓名
              name: [{ required: true, 'validator': checkName, 'trigger': 'blur' }],
              'phone': [{ 'required': true, 'validator': checkPhone, 'trigger': 'blur' }],
              'idNumber': [{ 'required': true, 'validator': validID, 'trigger': 'blur' }]
            }
          }
        },
        created() {
          this.id = requestUrlParam('id')
          this.actionType = this.id ? 'edit' : 'add'
          if (this.id) {
            this.init()
          }
        },
        mounted() {
        },
        methods: {
          async init () {
            queryEmployeeById(this.id).then(res => {
              console.log(res)
              if (String(res.code) === '1') {
                console.log(res.data)
                this.ruleForm = res.data
                this.ruleForm.sex = res.data.sex === '0' ? 'female' : 'male'
                // this.ruleForm.password = ''
              } else {
                this.$message.error(res.msg || 'Operation failed')
              }
            })
          },
          submitForm (formName, st) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                if (this.actionType === 'add') {
                  const params = {
                    ...this.ruleForm,
                    sex: this.ruleForm.sex === 'female' ? '0' : '1'
                  }
                  addEmployee(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('Employee added successfully!')
                      if (!st) {
                        this.goBack()
                      } else {
                        this.ruleForm = {
                          username: '',
                          'name': '',
                          'phone': '',
                          // 'password': '',
                          // 'rePassword': '',/
                          'sex': 'male',
                          'idNumber': ''
                        }
                      }
                    } else {
                      this.$message.error(res.msg || 'Operation failed')
                    }
                  }).catch(err => {
                    this.$message.error('An error occurred with the request:' + err)
                  })
                } else {
                  const params = {
                    ...this.ruleForm,
                    sex: this.ruleForm.sex === 'female' ? '0' : '1'
                  }
                  editEmployee(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('Employee information modified successfully!')
                      this.goBack()
                    } else {
                      this.$message.error(res.msg || 'Operation failed')
                    }
                  }).catch(err => {
                    this.$message.error('An error occurred with the request:' + err)
                  })
                }
              } else {
                console.log('error submit!!')
                return false
              }
            })
          },
          goBack(){
            window.parent.menuHandle({
              id: '2',
              url: '/backend/page/member/list.html',
              name: 'Employee management'
            },false)
          }
        }
      })
    </script>
</body>
</html>